:root {
	--main-color: #1B1B1B;
    --second-color: #DBDBDB;
	--accent-color: #6100FF;
    --background-color: #F5F5F5;
	--font-size-large: 112%;
    --font-size-medium: 92%;
    --font-size-small: 76%;
	--font-auszeichnung: 100%;
    --border-weight: 1.5px;
}

@font-face {
    font-family: "Epilogue-Regular";
    src: url("font/Epilogue-Regular.woff2");
    font-style: normal;
    font-weight: normal;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-hyphens: auto; 
    hyphens: auto; 
   
}


body {
    font: var(--font-size-large) "Epilogue-Regular", sans-serif;
    line-height: 1.2;   
    background-color: var(--background-color);
    color: var(--main-color);
  
}

h4 {
    font-weight: normal;
    padding-block-start: 0.4rem;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Main navigation */

.notVisible {
    display: none;
    
}

.visible {
    display: flex;
}

.nav-container {
    display: flex;
    flex-direction: column;
}

.nav-element { 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1.2rem;
    padding-block: 0.4rem 0.6rem;
    height: auto;
    cursor: pointer;
    background-color: var(--second-color);
}


.top {
    border-bottom: var(--border-weight) solid var(--main-color);
}

.bottom {
    border-top: var(--border-weight) solid var(--main-color);
}

.active {
    
    background-color: var(--background-color);
}



.wrapper-right {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center; 
}

.socials {
    padding-block-start: 0.4rem;

}

/* Buttons in general */

.btn {
    font: inherit;
    padding-block-start: 0.4rem;
    text-decoration: underline;
    background-color: transparent;
    cursor: pointer;
}


/* Main part with different contents */

a {
    color: var(--main-color);
}

a:hover, a:active, a:visited {
    color: var(--main-color);
}

.tag {
    padding-inline: 0.4rem;
    padding-block: 0.2rem 0.06rem;
    border: var(--border-weight) solid var(--main-color);
    font-size: var(--font-size-small);
    background-color: var(--main-color);
    color: var(--background-color);   
}

.wrapper {
    padding-inline: 1.2rem;
    padding-block: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-block-end: 4rem;
}



#show {
    display: block;
    padding-inline: 0;
    padding-block: 0;
}

#projects {
    display: none;
}

#experience {
    display: none;
}


/* Categories Nav in project tab, only visible in desktop version*/
.categories {
    display: none;

    @media (min-width: 600px) {
        display: block;        
    }

}

.tag-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.6rem;

}



.btn.tag {
    padding-inline: 0.6rem;
    padding-block: 0.4rem 0.1rem;
    border: var(--border-weight) solid var(--main-color);
    font-size: var(--font-size-medium);
    text-decoration: none;
    background-color: var(--background-color);
    color: var(--main-color);
}

.btn.tag:hover, .btn.tag:active {
    background-color: var(--main-color);
    color: var(--background-color);
}

ul {
    list-style: none;
}




/* Projects/Experience elements style */

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media (min-width: 600px) {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.projects-element {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    border: var(--border-weight) solid var(--main-color);
    padding-block-end: 0.4rem;
    

    @media (min-width: 600px) {
        width: 48%;
    }

    @media (min-width: 900px) {
        width: 32%;
    }

    a {
        text-decoration: none;
        color: var(--main-color);
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
    }

    


}

.projects-element:hover, .projects-element:active {
    background-color: var(--main-color);
    color: var(--background-color);

    .tag {
        background-color: var(--background-color);
        color: var(--main-color);
    }

    a {
        color: var(--background-color);
    }
}

.project-coverimage {
    width: 100%;
    height: 40%;

    @media (min-width: 600px) {
        height: auto;       
    }

    @media (min-width: 900px) {
        height: auto; 
    }    
}

.project-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding-inline: 0.4rem;
    gap: 0.2rem;
    
}

.project-year {
    padding-inline: 0.4rem;
    font-size: var(--font-size-medium);
}

.project-title {
    font-size: var(--font-size-medium);
}

.description {
    padding-inline: 0.4rem;
    font-size: var(--font-size-medium);
}


.project-detail-container {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
  
}

.project-detail-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 0.4rem;
    align-items: center;
}

.project-detail-meta {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

}

.details-border {
    border: var(--border-weight) solid var(--main-color);
    padding-block: 0.6rem 0.4rem;
}

.experience-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media (min-width: 600px) {
        flex-direction: row;
        flex-wrap: wrap;

    }
}


.experience-element {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    border: var(--border-weight) solid var(--main-color);
    padding-block: 0.4rem;

    @media (min-width: 600px) {
        width: 48%;
    }

    @media (min-width: 900px) {
        width: 32%;
    }
}

.experience-tags {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 0.4rem;
}

.experience-year {
    display: block;
    padding-inline: 0.4rem;
    padding-block: 0.2rem 0.06rem;
    font-size: var(--font-size-small);
}

#introduction {
    /*border: var(--border-weight) solid var(--main-color);*/
    
    @media (min-width: 600px) {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        padding-inline-end: 0.4rem;
    }

    @media (min-width: 900px) {
        width: 80%;
        
    }

    @media (min-width: 1200px) {
        width: 66%;
        
    }

    .description {
        padding-block: 0.6rem;

       
    }

}


#introduction img {
    width: 100%;
    height: 300px;
}


